
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 50px 90px;
  background: #eff1f4;
  font: 200 18px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #83868c;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 300;
  color: #181818;
}

h1 + p {
  width: 500px;
}

.example {
  width: 100%;
  float: left;
}

.example p {
  font-size: .9em;
}

.example li {
  margin: 20px 0;
  border-radius: 6px;
}

.example li.desc {
  margin-right: 25px;
  width: 25%;
  float: left;
  padding: 20px 0;
  margin-top: 0;
  padding-top: 10px;
  min-height: 300px;
}

.example li.js,
.example li.html,
.example li.demo {
  margin: 0 15px;
  width: 20%;
  float: left;
  padding: 20px;
  background: white;
  border: 1px solid #d1d3d8;
  box-shadow: 0 0 0 5px #e7e9ee;
  min-height: 300px;
}

.example code {
  font-size: 12px;
}

input[type=text] {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 2px #eee;
  width: 100%;
  outline: none;
}
