
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 50px 90px;
  background: #eff1f4;
  font: 200 18px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #83868c;
}

h1, h2, h3 {
  font-weight: 300;
  color: #181818;
}

#examples li.desc {
  width: 30%;
  float: left;
}

#examples li.demo {
  width: 60%;
  float: left;
  background: white;
}
